body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

:root {
  background-color: #ffffff;
}

/* -------------------------------------------------------------MAIN PAGE------------------------------------------------------ */

/* HEADER */
.header > a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.studio {
  color: #2e2f42;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.list-item > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-item :hover {
  color: #404bbf;
}
.list-item :focus {
  color: #404bbf;
}

.link {
  list-style: none;
}

.contacts {
  font-style: normal;
}

.contact > a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact :hover {
  color: #404bbf;
}
.contact :focus {
  color: #404bbf;
}

/* MAIN */

/* Section 1 */

.section-button {
  background: #2e2f42;
}
.button-promo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/* Section 2 */
.advantages-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-descr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3 */
.business {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/* Section 4 */
.our-team {
  background: #f4f4fd;
}
.team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-member {
  background-color: #ffffff;
}

.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.member-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer {
  background-color: #2e2f42;
}

.studio-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}

/* -------------------------------------------------------------PORTFOLIO------------------------------------------------------ */
/* MAIN */

.filter-btn {
  background: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}

.filter-btns :hover {
  color: #ffffff;
  background-color: #404bbf;
}

.filter-btns :focus {
  color: #ffffff;
  background-color: #404bbf;
}

.pic-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.pic-descr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
